body {
  background-color: #d9cfcf;
  height: 1000px;
}

header {
  display: block;
  justify-content: space-between;
  align-items: center;
  height: 20%;
  background-color: #888888;
  padding: 0 20px;
}

header .Logo {
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

header .Logo img {
  height: 100px;
  width: 100px;
  transition: 0.4s;
}

  header .Logo img:hover {
    transform: scale(1.1);
  }

header .Barra_Navegacion .lista {
  list-style-type: none;
  display: flex;
  justify-content: space-between;

}
.barra-busqueda{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.input-busqueda{
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 20px 0 0 20px;
  width: 80%;
  outline: none;
}

.input-busqueda:hover{
  background-color: #ccc;
}

.input-busqueda:focus{
  outline: none;
}

.btn-buscar{
  padding: 8.5px 15px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-buscar:hover{
  background-color: #ccc;
}

.btn-buscar:focus{
  outline: none;
}
.Peliculas img{
  width: 150px;
  height: auto;
  margin: 0 auto;
  justify-content: space-evenly;
}

